@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* https://codepen.io/wifi/pen/DGYLPw */

html{
  background-color:#000;
  border-bottom:solid 5px blue;
  border-top:solid 5px blue;
  overflow-x:hidden;
  padding-bottom:142px;
}

p{
  color:#FFF;
  font: 30px 'Press Start 2P', cursive;
  text-align:center;
}

body{
    font-family: 'Press Start 2P';
    line-height: 2rem;
}

.huge-pacman{
  width: 2rem!important;
  height: 2rem!important;
  margin: -0.5rem 0 0 -.5rem;
  left: 40%;
  top: 23%;
}

.pacman{
z-index:10;
position: absolute;
top:4rem;
left:6rem;
height:1rem;
width:1rem;
transition: top 150ms, left 150ms;
/* transition-duration: 100ms; */
}

.pacman-bow{
  width: 70%;
  height: 50%;
  position: relative;
  left: 15%;
  top: -40%;
  text-align: center;
}

.pacman-bow svg{
  width:100%;
  height:100%;
}

.pacman-bow>span{
  width: 0;
  height: 0;
  border-style: solid;
  display: inline-block;
  position: absolute;
  top: 0;
}

.pacman-bow>span:first-of-type{
  left: 15%;
  border-width: 3px 0 3px 5px;
  border-color: transparent transparent transparent #ff0000;
}

.pacman-bow>span:last-of-type{
  right:15%;
  border-width: 3px 5px 3px 0;
  border-color: transparent #ff0000 transparent transparent;
}

.pacman-top{
  background-color:red;
  height:50%;
  width:100%;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
background-color:red;
  height:50%;
  width:100%;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
margin-top: -185px;
margin-left:15px;
width: 45px;
height: 45px;
border-radius: 30%;
-moz-animation: eat 1s linear 0s infinite;
-webkit-animation: eat 1s linear 0s infinite;
animation: eat 1s linear 0s infinite;
}   

/* Animation*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}

@-moz-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}

@-webkit-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}
}
