.color_table{
    display:flex;
}

.color{
    width: 2rem;
    height: 2rem;
    margin: 0 .3rem;
    border: 1px solid grey;
    cursor: pointer;
    transition: transform ease 1s;
}

.color:hover{
    transform: scale(1.1);
}

.selected{
    border: 3px solid orange;
}
