.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.pink{
    background-color: pink;
}

.magenta{
    background-color: magenta;
}

.aqua{
    background-color: aqua;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.grey{
    background-color: grey;
}