* {
    margin:0;
    padding:0;
}

.app{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 97vh;
}

.dark-mode{
    color:white
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: #f24949;
}

.green{
    background-color: green;
}

.pink{
    background-color: rgb(247 173 245);
}

.magenta{
    background-color: #b714cb;
}

.aqua{
    background-color: rgb(5, 198, 198);
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.grey{
    background-color: rgb(124, 125, 152);
}

.violet{
    background-color: rgb(140, 105, 255);
}